/* Default Rules */

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

p {
    color: #656565;
    font-weight: 400;
    font-family: Open sans, sans-serif;
}

section {
    padding-top: 4rem;
}

/* Navigation Bar */

.logo {
    color: #1abc9c;
    font-size: 20px;
}

/* Header */

#header {
    padding-top: 50px;
    padding-bottom: 1.2rem;
    color: #f8f8f8;
    background: #1abc9c;
}

.header-contents {
    padding-top: 25%;
}

.header-img {
    position: absolute;
    bottom: -1.2rem;
}

.header-contents h1 {
    font-size: 4em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
}


.header-contents h3 {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.header-contents p {
    font-size: 14px;
    line-height: 22px;
}

.btn-header-buy {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #fff;
    color: #1abc9c;
    border-radius: 7px;
}

.btn-header-buy:hover {
    background: #a3e4d7;
    color: #fff;
}

.header-learn-more {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* Display fix for this particular window size */
    .header-contents h1 {
        font-size: 2.5rem;
        margin-top: -25px;
    }

    .header-contents h3 {
        font-size: 20px;
    }
}

@media (min-width: 1199px) {
    /* Display fix for large screen sizes */
    .btn-header-buy {
        margin-bottom: 4rem;
    }
}

/* Request an Edit Section */

#buy {
    background: linear-gradient(to bottom, #01c6d6 0%, #f8f8f8 101%);
}

textarea {
    resize: none;
}

.submit-error-alert {
    /* For an alert when a request fails to send */
    position: fixed;
    bottom: 0;
    width: 70%;
    left: 15%;
}

/* Footer */

.footer {
    background-color: #f8f8f8;
}

/* About Details */

.about-details {
    background: #01c6d6;
}

.about-icon {
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 35px;
    width: 90px;
    height: 90px;
    line-height: 90px;
}


/* Container Size Fixes */

@media (max-width: 767px) {
    .container {
        max-width: 90%;
    }
}

@media only screen and (min-width: 960px) and (max-width: 1050px) {
    .container {
        max-width: 90% !important;
    }
}
